.grid-drag-handle {
    display: none;
  }
  .css-1sf81u6::-webkit-scrollbar{
     display:none;
  }
  
  .css-1sf81u6 {
     -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .css-1k5or0q {
    display: none;
  }
  .css-14mr6ll{
    display: none;
  }
  .css-vyoujf{
    display: none;
  }
  .css-umstnt{
    display: none;
  }
  .css-rwrh9q{
    display: none;
  }
  